# Ignora a pasta de dependências local
node_modules

# Ignora o arquivo de variáveis de ambiente.
# As variáveis serão injetadas em tempo de execução.
.env

# Ignora arquivos de log e temporários
npm-debug.log*
yarn-debug.log*

# Ignora o Git
.git